/*
 * Blink Elements Animate
 */
.blink{
    animation: blink 1s infinite;
}

@keyframes blink{
    50%{opacity: 0;}
}

/*
 * Shake Elements Animate
 
 * Shake Horizontal
 */
.shake_h{
    display: inline-block;
    animation: shake_h 1s infinite;
}

@keyframes shake_h {
    10%, 30%, 50%, 70%, 90%{transform: translateX(-5px);}
    20%, 40%, 60%, 80%{transform: translateX(5px);}
}

/*
 * Shake Vertical
 */
.shake_v{
    display: inline-block;
    animation: shake_v 1s infinite;
}

@keyframes shake_v{
    10%, 30%, 50%, 70%, 90%{transform: translatey(-5px);}
    20%, 40%, 60%, 80%{transform: translatey(5px);}
}

/*
 * Swing Elements Animate
 */
.swing{
    display: inline-block;
    animation: swing 1s infinite;
}

@keyframes swing{
    25%{transform: rotate(45deg);}
    50%{transform: rotate(-45deg);}
}

/*
 * Flip Elements Animate
 */
.flip{
    display: inline-block;
    animation: flip 1s infinite;
}

@keyframes flip{
    25%{transform: rotateY(180deg);}
    50%{transform: rotateY(-180deg);}
}