/*
 * Label
 * Badge
 * Notify
 */
.badge {
    background  : #666666;
    color       : #ffffff;
    font-weight : bold;
    display     : inline-block;
    width       : auto;
    text-align  : center;
    margin      : 4px;
}

.badge * {
    display    : inline-block;
    text-align : center;
}

.badge {
    border-radius : 1.2em;
    padding       : 1px 4px;
}

.badge_tiny {
    background    : #f51645;
    border-radius : 1.2em;
    padding       : 0.05em 0.35em;
    font-size     : 9px;
}

.badge_block {
    clear      : both;
    display    : block;
    width      : 100%;
    text-align : center;
}

/*
 * Red Color
 */
.badge_red {
    background : #f51645;
    color      : #f9f9f9;
}

/*
 * Blue Color
 */
.badge_blue {
    background : #3498db;
    color      : #fefefe;
}

/*
 * Yellow Color
 */
.badge_yellow {
    background : #eadf33;
    color      : #555555;
}

/*
 * Green Color
 */
.badge_green {
    background : #20ca1c;
    color      : #ffffff;
}

/*
 * White Color
 */
.badge_white {
    background : #eeeeee;
    color      : #444444;
}

/*
 * Tagging Style
 */
.tag {
    color           : #444444;
    background      : #e5e5e5;
    border-radius   : 0 3px 3px 0;
    display         : inline-block;
    height          : 20px;
    line-height     : 20px;
    padding         : 0 5px 0 20px;
    margin          : 4px;
    position        : relative;
    text-decoration : none;
}

.tag::before {
    background    : #ffffff;
    content       : '';
    left          : 0;
    top           : 0;
    position      : absolute;
    border-bottom : 10px solid transparent;
    border-right  : 11px solid #e5e5e5;
    border-top    : 11px solid transparent;
}

.tag:after {
    background    : #ffffff;
    border-radius : 100%;
    box-shadow    : inset 0 1px rgba(0, 0, 0, 0.3);
    content       : '';
    width         : 6px;
    height        : 6px;
    left          : 10px;
    top           : 7px;
    position      : absolute;
}

/*
 * Tag Red
 */
.tag_red {
    background : #f51645;
    color      : #f9f9f9;
}

.tag_red::before {
    border-right : 11px solid #f51645;
}

/*
 * Tag Blue
 */
.tag_blue {
    background : #3498db;
    color      : #fefefe;
}

.tag_blue::before {
    border-right : 11px solid #3498db;
}

/*
 * Tag Yellow
 */
.tag_yellow {
    background : #eadf33;
    color      : #555555;
}

.tag_yellow::before {
    border-right : 11px solid #eadf33;
}

/*
 * Tag Green
 */
.tag_green {
    background : #20ca1c;
    color      : #ffffff;
}

.tag_green::before {
    border-right : 11px solid #20ca1c;
}

/*
 * Tag Black
 */
.tag_black {
    color      : #000000;
    background : #a3a3a3;
}

.tag_black::before {
    border-right : 11px solid #a3a3a3;
}