/*
 * Label
 * Badge
 * Notify
 */
.label,
.badge,
.notify{
    display: inline;
    background: #666;
    color: #fff;
    font-weight: bold;
}

.label{
    border-radius: 4px;
    padding: 1px 3px;
}

.badge{
    border-radius: 1.2em;
    padding: 1px 5px;
}

.notify{
    background: #f51645;
    border-radius: 1.1em;
    padding: 0.05em 0.35em;
    font-size: 9px;
}

/*
 * Red Color
 */
.label_badge_r{
    background: #f51645;
    color: #f9f9f9;
}

/*
 * Blue Color
 */
.label_badge_b{
    background: #3498db;
    color: #fefefe;
}

/*
 * Yellow Color
 */
.label_badge_y{
    background: #EADF33;
    color: #555;
}

/*
 * Green Color
 */
.label_badge_g{
    background: #20ca1c;
    color: #fff;
}

/*
 * Tagging Style
 */
.tag{
    color: #444;
    background: #e5e5e5;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 5px 0 20px;
    position: relative;
    text-decoration: none;
}

.tag::before{
    background: #fff;
    content: '';
    left: 0;
    top: 0;	
    position: absolute;
    border-bottom: 10px solid transparent;
    border-right: 11px solid #e5e5e5;
    border-top: 11px solid transparent;
}

.tag:after{
    background: #fff;
    border-radius: 100%;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.3);
    content: '';
    width: 6px;
    height: 6px;
    left: 10px;
    top: 7px;
    position: absolute;
}

/*
 * Tag Red
 */
.tag_cr{
    background: #f51645;
    color: #f9f9f9;
}
.tag_cr::before{
    border-right: 11px solid #f51645;
}

/*
 * Tag Blue
 */
.tag_cb{
    background: #3498db;
    color: #fefefe;
}
.tag_cb::before{
    border-right: 11px solid #3498db;
}

/*
 * Tag Yellow
 */
.tag_cy{
    background: #EADF33;
    color: #555;
}
.tag_cy::before{
    border-right: 11px solid #EADF33;
}

/*
 * Tag Green
 */
.tag_cg{
    background: #20ca1c;
    color: #fff;
}
.tag_cg::before{
    border-right: 11px solid #20ca1c;
}