/*
 * Breadcrumb
 */
.breadcrumb {
    display        : block;
    list-style     : none;
    vertical-align : top;
    overflow       : hidden;
    clear          : both;
    padding        : 0 5px;
    font-size      : 12px;
    line-height    : 20px;
}

.breadcrumb::before {
    content : attr(data-breadcrumb-msg);
}

.breadcrumb li {
    padding     : 3px;
    margin      : 2px;
    display     : inline-block;
    font-weight : bold;
}

.breadcrumb li::after {
    content      : '/';
    padding-left : 6px;
}

.breadcrumb::before,
.breadcrumb li::after {
    color       : #333333;
    font-weight : normal;
}

.breadcrumb li:last-child::after {
    content      : '';
    padding-left : 0;
}