/*
 * Buttons Style & Color
 */
.btn{
    font-weight: bold;
    color: #222;
    padding: 2px 3px;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #bbb;
    background: #eee;
}

.btn:hover,
.btn:focus,
.btn_hover{
    color: #222;
    border: 1px solid #888;
    text-decoration: none;
}

.btn:active,
.btn_active{
    text-decoration: none;
    color: #222;
    background: #ddd;
}

.btn *{
    display: inline-block;
}

/*
 * Block Button
 */
.btn_block{
    clear: both;
    width: 100%;
    text-align: center;
}

/*
 * Curve Button
 */
.btn_curve{
    border-radius: 1.2em;
    padding: 3px 6px;
}

/*
 * Red Color
 */
.btn_cr{
    color: #f9f9f9;
    border: 1px solid #bf052d;
    background: #f51645;
}

.btn_cr:hover,
.btn_cr_hover{
    color: #f9f9f9;
    border: 1px solid #980222;
    background: #F2607F;
}

.btn_cr:active,
.btn_cr_active{
    color: #f9f9f9;
    border: 1px solid #bf052d;
    background: #E2103C;
}

/*
 * Blue Color
 */
.btn_cbu{
    border: 1px solid #2980b9;
    color: #fefefe;
    background: #3498db;
}

.btn_cbu:hover,
.btn_cbu_hover{
    color: #fefefe;
    border: 1px solid #2980b9;
    background: #3cb0fd;
}

.btn_cbu:active,
.btn_cbu_active{
    color: #fefefe;
    border: 1px solid #2980b9;
    background: #2980b9;
}

/*
 * Yellow Color
 */
.btn_cy{
    border: 1px solid #C4BD4F;
    background: #EADF33;
    color: #555;
}

.btn_cy:hover,
.btn_cy_hover{
    background: #F8EE59;
    color: #433F01;
    border: 1px solid #948E29;
}

.btn_cy:active,
.btn_cy_active{
    color: #433F01;
    background: #D7CD2C;
}

/*
 * Green Color
 */
.btn_cg{
    border: 1px solid #4AC447;
    color: #222;
    background: #29DF25;
}

.btn_cg:hover,
.btn_cg_hover{
    background: #48F244;
    color: #222;
    border: 1px solid #13CD0E;
}

.btn_cg:active,
.btn_cg_active{
    color: #222;
    border: 1px solid #088905;
    background: #1CD718;
}

/*
 * Disable Button
 */
.btn_disable,
.btn_disable:hover,
.btn_disable:focus,
.btn_disable:active,
.btn_disable:disabled{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
    text-shadow: 1px 1px #fff;
    color: #868686;
    border: 1px solid #bbb;
    background: #eee;
}