/*
 * Style Drop Down Container 
 */
.drop_down_box{
    position: relative;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    border: 1px solid #bbb;
    padding: 2px 4px;
    border-radius: 4px;
}

.drop_down_box::before{
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: -9px;
    left: 45%;
    border-bottom: 9px solid #999;
    border-left: 8px solid transparent;
    border-right: 9px solid transparent;
}

.drop_down_box::after{
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: -8px;
    left: 45%;
    border-bottom: 9px solid #fff;
    border-left: 8px solid transparent;
    border-right: 9px solid transparent;
}