/*
 * Style Textarea, Select, Text
 */
.field{
    background: #fdfdfd;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #aaa;
    box-shadow: inset 0 0 4px #ccc;
    box-sizing: border-box;
}

.fieldFocus,
.field:focus{
    background: #fff;
    border: 1px solid #777;
    box-shadow: 0 0 15px #ccc;
}

.fieldRequire{
    border: 1px solid #CE1A1A;
    box-shadow: 0 0 10px #FDAAAA;
}

.field_block{
    clear: both;
    width: 100%;
}

/*
 * Disable Field
 */
.fieldDisable,
.fieldDisable:focus,
.fieldDisable:hover,
.fieldDisable:active,
.fieldDisable:disabled{
    background: #eee;
    box-shadow: inset 0 0 2px #ccc;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.9;
}