/*
 * Code/Syntex Highlight
 */
.code{
    padding: 1px;
    margin: 1px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background: #f7f7f7;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    text-shadow: 1px 1px #fff;
}

.code,
.code *{
    font-family: monospace;
}

/*
 * Code Red Color
 */
.code_r{
    border: 1px solid #F6D3D5;
    color: #C24147;
}

/*
 * Code Blue Color
 */
.code_b{
    border: 1px solid #9FD2F3;
    color: #3278A6;
}

/*
 * Code Green Color
 */
.code_g{
    border: 1px solid #91F48F;
    color: #319D2E;
}

/*
 * Syntax Highlight
 */
.syntax{
    background: #2D313A;
    color: #96CBFE;
    padding: 16px;
    margin: 30px 5px 5px 5px;
    border: 2px solid #57AD68;
    border-left: 5px solid #57AD68;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    display: block;
    clear: both;
}

.syntax,
.syntax *{
    font-family: monospace;
}

.syntax::before{
    content: '{/}';
    position: absolute;
    left: -22px;
    top: -22px;
    background: #57AD68;
    color: #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

/*
 * Blockquote Highlight
 */
.bquote{
    clear: both;
    text-indent: 25px;
    border: 1px solid #ddd;
    border-left: 3px solid #bbb;
    font-style: italic;
    font-size: 18px;
    line-height: 26px;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px 20px;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
}

.bquote::before,
.bquote::after{
    text-indent: 0;
    color: #888;
    font-size: 45px;
    position: absolute;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.bquote::before{
    content: open-quote;
    line-height: 0.05em;
    left: 0;
}

.bquote::after{
    content: close-quote;
    bottom: -0.5em;
    right: 15px;
}