/*
 * Highlight Class 
 */
code,
.code{
    padding: 1px;
    margin: 1px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background: #f7f7f7;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
}

code,
code *,
.code,
.code *{
    font-family: monospace;
}

/*
 * Red Colour
 */
.code_r{
    border: 1px solid #F6D3D5;
    color: #C24147;
}

/*
 * Blue Colour
 */
.code_b{
    border: 1px solid #9FD2F3;
    color: #3278A6;
}

/*
 * Green Colour
 */
.code_g{
    border: 1px solid #91F48F;
    color: #319D2E;
}

blockquote,
.bquote{
    clear: both;
    text-indent: 25px;
    border: 1px solid #ddd;
    border-left: 3px solid #bbb;
    font-style: italic;
    font-size: 18px;
    line-height: 26px;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px 20px;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
}

blockquote::before,
.bquote::before,
blockquote::after,
.bquote::after{
    text-indent: 0;
    color: #888;
    font-size: 45px;
    position: absolute;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

blockquote::before,
.bquote::before{
    content: open-quote;
    line-height: 0.05em;
    left: 0;
}

blockquote::after,
.bquote::after{
    content: close-quote;
    bottom: -0.5em;
    right: 15px;
}