/*
 * Image Classes
 */
.img_respo{
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
    cursor: zoom-in;
}

.img_circle{
    border-radius: 100%;
}

.img_round{
    border-radius: 1.1em;
}

.img_thumb{
    padding: 5px;
    background: #fff;
    border: 1px solid #ddd;
}