.no_padding_imp{
    padding: 0 !important;
}

.no_margin_imp{
    margin: 0 !important;
}

.left_text_imp{
    text-align: left !important;
}

.center_text_imp{
    text-align: center !important;
}

.right_text_imp{
    text-align: right !important;
}

.justify_text_imp{
    text-align: justify !important;
}