/*
 * Lightbox
 * Require JS for Close
 *
 * Lightbox Background
 */
.lightbox_bgb,
.lightbox_bgw{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lightbox_bgb{background: rgba(0,0,0,0.5);}
.lightbox_bgw{background: rgba(238,238,238,0.8);}

/*
 * Lightbox Container
 */
.lightbox_content{
    box-shadow: 0 0 40px #555;
    position: relative;
    width: 500px;
    height: 300px;
    margin: 5% auto;
    border: 1px solid #888;
    background: #fff;
    border: 1px solid #666;
    border-radius: 4px;
}