/*
 * Lightbox

 * Lightbox Background
 */
.lightbox,
.lightbox{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
}

.lightbox_bgb{background: rgba(0,0,0,0.5);}
.lightbox_bgw{background: rgba(238,238,238,0.8);}

/*
 * Lightbox Container
 */
.lightbox_content{
    box-shadow: 0 0 40px #555;
    position: relative;
    max-width: 700px;
    min-height: 0;
    margin: 5% auto;
    background: #fff;
    border: 1px solid #666;
    border-radius: 4px;
}

.lightbox_content_full{
    max-width: 99%;
    margin: 0.5% auto;
}

.lightbox_content_none{
    background: transparent;
    box-shadow: none;
    border: 0;
}

.lightbox_close::before{
    content: '\2716';
    font-size: 22px;
    background: #fff;
    border: 1px solid #444;
    border-radius: 100%;
    float: right;
    margin: 10px;
    width: 30px;
    height: 30px;
    line-height: 1.4em;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .lightbox_content{
        max-width: 70%;
    }
}
