/*
 * A tag or link style
 */
a,
.link{
    background: none;
    border: 0;
    color: #2B78F9;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

a:hover,
a:focus,
.link:hover,
.link:focus{
    color: #0A50C3;
    text-decoration: underline;
}

.link_block{
    display: block;
    clear: both;
    padding: 5px;
}

.link_block:hover{
    background: #f1f1f1;
    text-decoration: none;
}