/*
 * A tag or link style
 */
a,
.link{
    background: none;
    border: 0;
    color: #2B78F9;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

a:hover,
a:focus,
.link:hover,
.link:focus,
.link_active{
    color: #0A50C3;
    text-decoration: underline;
}

.link_block{
    display: block;
    clear: both;
    padding: 5px;
}

.link_block:hover,
.link_block_active{
    background: #f1f1f1;
    text-decoration: none;
}

.link_active_flat,
.link_flat:active{
    border-radius: 4px;
    box-shadow: 0 0 0 3px lightblue;
    background: none;
}