/*
 * Mention & Hashtag Style
 */
.mention,
.hashtag{
    font-weight: bold;
    position: relative;
    padding-left: 1.3em;
    color: #2B78F9;
    text-decoration: none;
    display: inline;
}

.mention{
    padding-left: 1.4em;
}

.mention:before,
.hashtag::before{
    top: -5px;
    left: 0;
    font-size: 160%;
    position: absolute;
}

.hashtag::before{
    content: '#';
}

.mention:before{
    content: '@';
}