/*
 * Display or Show Message
 */
.msg{
    margin: 5px;
    padding: 6px;
    border-radius: 4px;
    position: relative;
    border: 1px solid #aaa;
    border-left-width: 4px;
    background: #f9f9f9;
}

/*
 * General Message
 */
.msg_general{
    border: 1px solid #aaa;
    padding-left: 30px;
}

.msg_general::before{
    content: 'i';
    color: #fff;
    text-align: center;
    line-height: 1.0em;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #999;
    position: absolute;
    top: 20%;
    left: 6px;
    font-size: 17px;
    font-weight: bold;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

/*
 * Help Message
 */
.msg_help{
    color: #5179DF;
    background: #F0F3FB;
    border: 1px solid #86A6F9;
    padding-left: 30px;
}

.msg_help::before{
    content: '?';
    color: #fff;
    text-align: center;
    line-height: 1.3em;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #5179DF;
    position: absolute;
    top: 18%;
    left: 6px;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

/*
 * Success Message
 */
.msg_success{
    color: #376C38;
    background: #EFFCEC;
    border: 1px solid #219A0C;
    padding-left: 30px;
}

.msg_success::before{    
    position: absolute;
    content: '\2713';
    line-height: 1.35em;
    color: #fff;
    top: 20%;
    left: 6px;
    background: #62B64F;
    border-radius: 1.1em;
    padding: 0 4px;
    font-weight: bold;
    font-size: 14px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

/*
 * Alert Message
 */
.msg_alert{
    color: #C0070B;
    background: #FCE9E9;
    border: 1px solid #FF9FA1;
    padding-left: 30px;
}

.msg_alert::before{
    content: 'X';
    line-height: 1.4em;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 1.1em;
    background: #D05F5D;
    position: absolute;
    top: 20%;
    left: 6px;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

/*
 * Warning Message
 */
.msg_warn{
    color: #6C542C;
    background: #FDFBF4;
    border: 1px solid #EAC26D;
    padding-left: 40px;
}

.msg_warn::before{
    font-size: 12px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #CCCF02;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 20%;
    left: 6px;
}

.msg_warn::after{
    position: absolute;
    content: '!';
    color: #fff;
    top: 18%;
    left: 1.1em;
    line-height: 1.4em;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}