/*
 * Display or Show Message
 */
.msg {
    padding           : 2px 8px;
    position          : relative;
    border-radius     : 4px;
    border            : 1px solid #aaaaaa;
    border-left-width : 4px;
    background        : #f9f9f9;
    display           : block;
    line-height       : 25px;
    font-weight       : bold;
}

.msg::before,
.msg::after {
    position    : absolute;
    width       : 20px;
    height      : 20px;
    top         : 0.35em;
    left        : 6px;
    font-size   : 16px;
    font-weight : bold;
    text-align  : center;
    font-family : Tahoma, Helvetica, Arial, sans-serif;
    color       : #ffffff;
}

.msg_general,
.msg_help,
.msg_success,
.msg_alert,
.msg_warn {
    padding-left : 40px;
}

/*
 * General Message
 */
.msg_general {
    border : 1px solid #aaaaaa;
}

.msg_general::before {
    content       : 'i';
    line-height   : 1.2em;
    border-radius : 100%;
    background    : #999999;
}

/*
 * Help Message
 */
.msg_help {
    color      : #5179df;
    background : #f3f4f8;
    border     : 1px solid #5179df;
}

.msg_help::before {
    content       : '?';
    text-align    : center;
    line-height   : 1.3em;
    border-radius : 100%;
    background    : #5179df;
}

/*
 * Success Message
 */
.msg_success {
    color      : #219a0c;
    background : #f3f6f2;
    border     : 1px solid #219a0c;
}

.msg_success::before {
    content       : '\2714';
    line-height   : 1.3em;
    text-align    : center;
    top           : 20%;
    background    : #219a0c;
    border-radius : 1.1em;
}

/*
 * Alert Message
 */
.msg_alert {
    color      : #c0070b;
    background : #f8eded;
    border     : 1px solid #c0070b;
}

.msg_alert::before {
    content       : '\2716';
    line-height   : 1.3em;
    text-align    : center;
    border-radius : 1.1em;
    background    : #c0070b;
}

/*
 * Warning Message
 */
.msg_warn {
    color      : #786b4f;
    background : #fffbf0;
    border     : 1px solid #786b4f;
}

.msg_warn::before {
    font-size     : 12px;
    content       : '';
    width         : 0;
    height        : 0;
    border-bottom : 18px solid #786b4f;
    border-left   : 13px solid transparent;
    border-right  : 13px solid transparent;
}

.msg_warn::after {
    content     : '\0021';
    left        : 0.55em;
    line-height : 1.3em;
}
