/*
 * Progressbar Custom Style

 * Progressbar Container
 */
.progressbar_con{
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: inset 0 0 3px #ccc;
    padding: 1px;
}

/*
 * Progressbar Main
 */
.progressbar{
    text-align: center;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;    
    height: 15px;
    background: #3498db;
    background: -webkit-repeating-linear-gradient(-45deg, #DDD, #DDD 10px, #EEE 10px, #EEE 20px);
    background: -o-repeating-linear-gradient(-45deg, #DDD, #DDD 10px, #EEE 10px, #EEE 20px);
    background: -moz-repeating-linear-gradient(-45deg, #DDD, #DDD 10px, #EEE 10px, #EEE 20px);
    background: -ms-linear-gradient(-45deg, #DDD, #DDD 10px, #EEE 10px, #EEE 20px);
    background: repeating-linear-gradient(-45deg, #DDD, #DDD 10px, #EEE 10px, #EEE 20px);
}

.progressbar_con,
.progressbar{
    border-radius: 3px;
    width: 100%;
    clear: both;
}

/* Red Color */
.progressbar_r{
    color: #fff;
    background: #c10707;
    background: -webkit-repeating-linear-gradient(-45deg, #c10707, #c10707 , #f70d0d 10px, #f70d0d 20px);
    background: -o-repeating-linear-gradient(-45deg, #c10707, #c10707 10px, #f70d0d 10px, #f70d0d 20px);
    background: -moz-repeating-linear-gradient(-45deg, #c10707, #c10707 10px, #f70d0d 10px, #f70d0d 20px);
    background: -ms-linear-gradient(-45deg, #c10707, #c10707 10px, #f70d0d 10px, #f70d0d 20px);
    background: repeating-linear-gradient(-45deg, #c10707, #c10707 10px, #f70d0d 10px, #f70d0d 20px);
}

/* Blue Color */
.progressbar_b{
    color: #fff;
    background: #3498db;
    background: -webkit-repeating-linear-gradient(-45deg, #2980b9, #2980b9 , #3498db 10px, #3498db 20px);
    background: -o-repeating-linear-gradient(-45deg, #2980b9, #2980b9 10px, #3498db 10px, #3498db 20px);
    background: -moz-repeating-linear-gradient(-45deg, #2980b9, #2980b9 10px, #3498db 10px, #3498db 20px);
    background: -ms-linear-gradient(-45deg, #2980b9, #2980b9 10px, #3498db 10px, #3498db 20px);
    background: repeating-linear-gradient(-45deg, #2980b9, #2980b9 10px, #3498db 10px, #3498db 20px);
}

/* Yellow Color */
.progressbar_y{
    color: #555;
    background: #3498db;
    background: -webkit-repeating-linear-gradient(-45deg, #d8cb01, #d8cb01 , #fef238 10px, #fef238 20px);
    background: -o-repeating-linear-gradient(-45deg, #d8cb01, #d8cb01 10px, #fef238 10px, #fef238 20px);
    background: -moz-repeating-linear-gradient(-45deg, #d8cb01, #d8cb01 10px, #fef238 10px, #fef238 20px);
    background: -ms-linear-gradient(-45deg, #d8cb01, #d8cb01 10px, #fef238 10px, #fef238 20px);
    background: repeating-linear-gradient(-45deg, #d8cb01, #d8cb01 10px, #fef238 10px, #fef238 20px);
}

/* Green Color */
.progressbar_g{
    color: #000;
    background: #0bb407;
    background: -webkit-repeating-linear-gradient(-45deg, #46fb42, #46fb42 , #0bb407 10px, #0bb407 20px);
    background: -o-repeating-linear-gradient(-45deg, #46fb42, #46fb42 10px, #0bb407 10px, #0bb407 20px);
    background: -moz-repeating-linear-gradient(-45deg, #46fb42, #46fb42 10px, #0bb407 10px, #0bb407 20px);
    background: -ms-linear-gradient(-45deg, #46fb42, #46fb42 10px, #0bb407 10px, #0bb407 20px);
    background: repeating-linear-gradient(-45deg, #46fb42, #46fb42 10px, #0bb407 10px, #0bb407 20px);
}

/* Animation */
.progressbar_animate{
    -webkit-animation: progressbar_animate 1s linear infinite;
    -moz-animation: progressbar_animate 1s linear infinite;
    -ms-animation: progressbar_animate 1s linear infinite;
    animation: progressbar_animate 1s linear infinite;
}

@-webkit-keyframes progressbar_animate{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-moz-keyframes progressbar_animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-ms-keyframes progressbar_animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@keyframes progressbar_animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}