/*
 * Styled Radio Button
 */
.radio{
    display: inline-block;
}

.radio input[type='radio']{
    display: none;
}

.radio label{
    cursor: pointer;
    position: relative;
    padding: 0 5px 0 20px;
}

.radio label::before,
.radio label::after{
    position: absolute;
    content: '';
    border-radius: 100%;
}

.radio label::before{
    left: 0;
    border: 1px solid #3399FF;
    background: #fff;
    width: 14px;
    height: 14px;
}

.radio label::after{
    width: 10px;
    height: 10px;
    left: 0.25em;
    top: 0.2em;
    background: #3399FF;
    display: none;
}

.radio label:hover::before{
    box-shadow: 0 2px 2px #ddd;
}

.radio input[type='radio']:checked + label::after{
    display: block;
}