/*
 * Some CSS Reset & Adject
 */
*,html,head,body,
header,footer,canvas,center,
h1,h2,h3,h4,h5,h6,
a,b,i,u,p,s,pre,code,
blockquote,ul,ol,li,
hr,br,del,strike,strong,
noscript,marquee,
select,option,optgroup,
button,input,textarea,img,
div,form,link,style,script,
audio,video,embed,source,track,
template,article,main,nav,progress,section,svg{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #000;
    word-wrap: break-word;
    cursor: default;
}

body,textarea{
    font-size: 12px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

header,
footer,
article,main,
nav,section{
    clear: both;
    display: block;
}

hr,br{
    clear: both;
}

hr{
    background: none;
    border-top: 1px solid #ccc;
    margin: 5px 0;
    height: 0;
}

li{
    list-style-position: inside;
}

.img_respo{
    width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
    cursor: zoom-in;
}

[disabled="disabled"]{
    cursor: not-allowed;
    pointer-events: none;
}