/*
 * Some Css Reset
 */
*,html,head,
body,a,b,p,
hr,br,
s,del,strike,
noscript,
blockquote,
select,option,
ul,ol,li,
header,
footer,
button,
input,
div,
form,
link,
style,
script,
textarea,
pre,code,
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background: #fff;
    color: #000;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    cursor: default;
    font-size: 12px;    
}

hr,br,
header,
footer{
    clear: both;
}