/*
 * Select Option Drop Down
 * Require: `select_option.js`
 * Optional: btn.css & drop_down_box.css (More Style & Effect) 
 */
.select_option{
    display: none;
    float: left;
    margin: 2px;
}

.select_option_box {
    margin-top: 8px;
    padding: 0;
    display: none;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.select_option .set{
    display: block;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px 3px;
    cursor: pointer;
}

.set::after{
    content: ' \25BC';
}

.select_option .option{
    display: block;
    clear: both;
    padding: 5px 10px;
    cursor: pointer;
}

.select_option .option:hover{
    background: #eee;
}

.select_option .optlabel{
    pointer-events: none;
    cursor: not-allowed;
    color: #888;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
}