/*
 * Drop Down Nav Icon
 * Responsive Nav Icon
 */
.drop_nav{
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 1px 4px 2px 25px;
}

.drop_nav::before{
    content: '';
    left: 0;
    top: 0.2em;
    position: absolute;
    box-shadow: 0 0.4em 0 0 #666, 0 0.8em 0 0 #666;
    background: #666;
    width: 20px;
    height: 3px;  	
}

.drop_nav_d::before {
    left: 5px;
    width: 16px;
}

.drop_nav_d::after{
    content: '';
    left: 0;
    top: 0.2em;
    position: absolute;
    box-shadow: 0 0.4em 0 0 #666, 0 0.8em 0 0 #666;
    background: #666;
    width: 3px;
    height: 3px;  
}