/*
 * Folder Icon
 */
.folder{
    display: inline;
    position: relative;
    height: 20px;
    line-height: 20px;
    padding: 2px 4px 2px 22px;
    text-decoration: none;
}

.folder::before{
    width: 16px;
    height: 12px;
    background: #bbb;
    top: 4px;
    left: 0;
    content: '';
    position: absolute;
    z-index: 5;
}

.folder::after{
    background: #ccc;
    content: '';
    width: 8px;
    height: 5px;
    position: absolute;
    left: 1px;
    top: 2px;
    z-index: 1;
}