/*
 * General Icon
 */
.general{
    color: #5179DF;
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 2px 4px 2px 22px;
}

.general::before{
    content: 'i';
    color: #fff;
    text-align: center;
    font-size: 17px;
    line-height: 1em;
    font-weight: bold;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #aaa;
    position: absolute;
    top: 0;
    left: 0;	
    font-family: Tahoma;
}