/*
 * Help Icon
 */
.help{
    color: #5179DF;
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 2px 4px 2px 22px;
}

.help::before{
    content: '?';
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #5179DF;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}