/*
 * Share Icon
 */
.share{
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 0 4px 2px 26px;
}

.share::before{
    border-radius: 20px 0 0 0;
    border-top: 5px solid #bbb;
    width: 11px;
    height: 8px;
    position: absolute;	
    content: '';
    top: 0.3em;
    left: 0;
    font-size: 12px;
}

.share::after{
    font-size: 12px;
    width: 0;
    height: 0;
    position: absolute;	
    content: '';
    top: 0;
    left: 11px;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #bbb;
    border-top: 6px solid transparent;
}