/*
 * Warning Icon
 */
.warn{
    color: #745B32;
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 2px 4px 2px 28px;
}

.warn::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #CCCF02;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 0.2em;
    left: 0;	
}

.warn::after{
    position: absolute;
    content: '!';
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    top: 0.1em;
    left: 0.65em;
    font-family: Tahoma;
}