/*
 * Home Icon
 */
.home{
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 2px 4px 2px 23px;
}

.home::before{
    background: #bbb;
    width: 14px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 0;
    color: #fff;
    font-size: 10px;
    line-height: 1.4em;
    content: '\220E';
    padding: 0.1em 0 0 0.35em;
    box-sizing: border-box
}

.home::after{
    width: 0;
    height: 0;
    position: absolute;	
    content: '';
    top: -2px;
    left: -4px;
    border-bottom: 10px solid #b5b5b5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}