/*
 * Icon Buttons
 */
.ibtn{
    padding: 4px 5px;
}

.ibtn::before,
.ibtn::after{
    font-size: 16px;
    line-height: 14px;
    padding: 5px 2px;
}

/*
 * Check Button
 */
.btn_check::before{
    content: '\2714\ ';
}

/*
 * Close Button
 */
.btn_close::before{
    content: '\2716\ ';
}

/*
 * Up Button
 */
.btn_up::before{
    content: '\25b2\ ';
}

/*
 * Down Button
 */
.btn_down::before{
    content: '\25bc\ ';
}

/*
 * Left Button
 */
.btn_left::before{
    content: '\25C4\ ';
}

/*
 * Right Button
 */
.btn_right::after{
    content: ' \25BA';
}

/*
 * Folder Button
 */
.btn_folder::before{
    content: '\1f5bf\ ';
}

/*
 * Love Button
 */
.btn_love::before{
    content: '\2764\ ';
}

/*
 * Reload Button
 */
.btn_reload::before{
    content: '\21BB\ ';
    font-size: 18px;
}

/*
 * Music Button
 */
.btn_music::before{
    content: '\266B\ ';
    font-size: 18px;
}

/*
 * Flag Button
 */
.btn_flag::before{
    content: '\2691\ ';
    font-size: 18px;
}

/*
 * Search Button
 */
.btn_search::before{
    content: '\2315\ ';
    font-size: 18px;
}