/*
 * Mail Icon
 */
.mail{
    display: inline;
    position: relative;
    text-decoration: none;
    padding: 2px 4px 2px 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mail::before{
    background: #999;
    width: 18px;
    height: 13px;
    position: absolute;	
    content: '';
    top: 0.3em;
    left: 0;
    font-size: 12px;
}

.mail::after{
    font-size: 12px;
    width: 0;
    height: 0;
    position: absolute;	
    content: '';
    top: 0.5em;
    left: 0.1em;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 6px solid #fff;
}