/*
 * More Or Option Icon
 */
.more{
    display: inline;
    position: relative;
    text-decoration: none;
    padding-right: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.more_v::after,
.more_h::after{
    right: 0;
    padding-left: 3px;
    font-weight: bold;
    font-size: 18px;
}

/* 
 * Vertical Dot
 */
.more_v::after{    
    content: '\205D';
}

/* 
 * Horizontal Dot
 */
.more_h::after{
    content: '\2026';
}

/*
 * Down Caret
 */
.more_c::after{
    content: '\25BC';
    left: 100%;
    padding-left: 2px;
}