.alert{
	color: #D05F5D;
	display: inline;
	position: relative;
	text-decoration: none;
	padding: 2px 4px 2px 22px;
}

.alert::before{
	content: '\2716';
	color: #fff;
	text-align: center;
	 font-size: 14px;
    line-height: 1.3em;
	font-weight: bold;
	width: 19px;
	height: 19px;
	border-radius: 1.1em;
	background: #D05F5D;
	position: absolute;
	top: 0;
	left: 0;	
	font-family: Tahoma;
}