.comment{
	display: inline;
	position: relative;
	text-decoration: none;
	padding: 0 4px 2px 24px;
}

.comment::before{
	border-radius: 3px;
	background: #ccc;
	width: 16px;
	height: 12px;
	position: absolute;	
	content: '';
	top: 0.2em;
	left: 0;
}

.comment::after{
	width: 0;
	height: 0;
	position: absolute;	
	content: '';
	top: 1em;
	left: 0.4em;
	border-left: 0 solid transparent;
    border-right: 8px solid transparent;
    border-top: 7px solid #ccc;
}