.home{
	display: inline;
	position: relative;
	text-decoration: none;
	padding: 2px 4px 2px 23px;
}

.home::before{
	background: #bbb;
	width: 14px;
	height: 12px;
	position: absolute;	
	content: '';
	top: 5px;
	left: 0;
	color: #fff;
}

.home::after{
	width: 0;
	height: 0;
	position: absolute;	
	content: '';
	top: -2px;
	left: -4px;
	border-bottom: 10px solid #aaa;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
}