.check_radio{
	display: inline-block;
	padding: 0 5px 0 22px;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

.check_radio::before,
.check_radio::after{
	position: absolute;
	left: 0;
	top: 0.2em;
}

.check_radio::before{
	border: 1px solid #3399FF;
	background: #fff;
	content: '';
	width: 14px;
	height: 14px;
}

.check_radio::after{
	background: #3399FF;
}

.checkbox::after,
.checkbox::before{
	border-radius: 4px;
}

.radio::after,
.radio::before{
	border-radius: 100%;

}

.checkbox::after{
	width: 15px;
	height: 16px;
	content:  "\2713 ";
	color: #fff;
	font-weight: bold;
	line-height: 14px;
	padding-left: 1px;
	position: absolute;
	left: 0;
	top: 0.2em;
	display: none;
}

.radio::after{
	width: 10px;
	height: 10px;
	content: '';
	top: 0.4em;
	left: 0.2em;
	display: none;
}

.checkbox_checked,
.radio_checked,
.checkbox:active::after,
.radio:active::after{
	display: block;
}