.drop_down_box{
	position: absolute;
	box-shadow: 0 0 15px #bbb;
	background: #f9f9f9;
	border: 1px solid #f9f9f9;
}

.drop_down_box:before{
	width: 0;
	height: 0;
	position: absolute;
	content: '';
	top: -9px;
	left: 0.55em;
	border-bottom: 9px solid #f9f9f9;
    border-left: 8px solid transparent;
    border-right: 9px solid transparent;
}