code,
.code{
    padding: 1px;
    margin: 1px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background: #f7f7f7;
    display: inline-block;
}

.code_r{
    border: 1px solid #F6D3D5;
    color: #C24147;
}

code,
code *,
.code,
.code *,
.code_r,
.code_r *{
    font-family: monospace;
}

blockquote,
.bquote{
    text-indent: 25px;
    border: 1px solid #ddd;
    border-left: 3px solid #bbb;
    font-style: italic;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px 20px;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
}

blockquote:before,
.bquote:before,
blockquote:after,
.bquote:after{
    text-indent: 0;
    color: #888;
    font-size: 4em;
    position: absolute;
}

blockquote:before,
.bquote:before{    
    content: open-quote;
    line-height: 0.15em;
    left: 0;
}

blockquote:after,
.bquote:after{
    content: close-quote;
    margin-top: -2px;
    margin: -2px 5px 0 0;
    right: 0;
}