.lightbox_bgb{background: rgba(0,0,0,0.7);}
.lightbox_bgw{background: rgba(255,255,255,0.7);}

.lightbox_bgb,
.lightbox_bgw{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999 !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lightbox_close{
    float: right;
    cursor: pointer;
}

.lightbox_con{
    box-shadow: 0 0 30px #999;
    position: relative;
    width: 500px;
    height: 300px;
    margin: 5% auto;
    border: 1px solid #888;
    background: #fff;
}